@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}
/*******************header시작*******************/
header {
	width: 100%;
	height: 60px;
	min-width: 1000px;
	/*margin-bottom:100px; > 이렇게해도 d2가 떨어진다.*/
	background-color: #032961;
	position: fixed; /*메뉴바를 상단에 고정*/
	top: 0px;
}

.header_nav { /*이거부터 설정해놔야 화면 줄일때 글씨줄바꿈되는 경우를 막을 수 있음*/
	width: 50%;
	height: 60px;
	min-width: 1200px;
	margin: 0 auto;
}

.logo {
	margin-left: 20px;
	padding: 20px;
	width: 15%;
	height: 60px;
	display: inline-block;
	float: left;
	box-sizing: border-box;
}

/****************************************************/
.nav_main {
	width: 50%;
	height: 60px;
	float: right;
}

ul.list_hea1 {
	
}

ul.list_hea1>li {
	height: 60px;
	float: left;
	list-style: none; /*리스트 앞에 붙는 장식 유무*/
	color: white;
	font-family: "Georgia";
	margin-top: 21px;
	margin-right: 20px;
}

.a { /*이거 설정하는 이유 : a태그엔 설정값이 있어서 밑줄&파란색 , 클릭하면 보라색으로 바뀐다*/
	color: white;
	text-decoration: none;
}

.a:hover { /*hover : 마우스를 올렸을때*/
	color: #aec7eb;
}
/****************************************************/
.nav_sub {
	width: 12%;
	height: 60px;
	float: right; // 오른쪽 정렬 
	display : inline-block;
	box-sizing: border-box;
}

ul.list_hea2 {
	
}

ul.list_hea2>li {
	float: left; /*이거덕분에 옆으로 쌓일 수 있음*/
	list-style: none;
	color: white;
	margin-top: 20px;
	font-size: small;
}

.b {
	color: white;
	text-decoration: none;
}

.c {
	color: #aec7eb;
	text-decoration: none;
	font-size: xx-small;
	opacity: 0.5;
}

/****************************************************/
/*******************header끝*******************/

/********************contents시작*********************/

.contents_3 {
	width: 100%;
	height: 730px;	
	min-width: 1900px;
	background-image: url("../image/lavendar.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px auto;
}
.contents_3_sub{
	width: 400px;
	height: 400px;
	background-color: white;
	display :inline-block;
	margin: 180px 740px;
	
}

.contents_3_name {
	float: left;
	color: black;
	margin-top: 50px;
	margin-left: 43px;
	font-size: x-large;
	font-weight: bold;
}
.line{
	width: 80%;
	height: 3.5px;
	margin-left: 40px;
	margin-top: 100px;
	background-color: black;
}
.explain{
	color: #4b4c4f;
	margin-top: 20px;
	margin-left: 43px;
}
.br{
	margin-top: 30px;
	margin-left: 47px;
	width: 75%;
	height: 300px;
}
/********************contents끝*********************/

/********************footer시작********************/
footer{
	width: 73%;
	height: 250px;
	background-color: white;
	min-width: 1200px;
	overflow: hidden;
	margin: 0 auto; /*수평정렬*/
	mar
}
.footer_nav {
	background-color: white;
	width: 1200px;
	height: 80px;
	margin : 0 auto;
	min-width: 1200px;
	overflow : hidden;
}

ul.list_foot{
	list-style: none;
	width: 100%;
	height : 200px;
	float: left; /*이거덕분에 옆으로 쌓일 수 있음*/
	font-size: small;
	color: gray;
	text-decoration: none;
	display : inline-block;
	box-sizing: border-box;
	margin-left: 260px;
	margin-top: 50px;

	}
ul.list_foot>li{
	float: left;
	padding-left: 3px;
	padding-right: 3px;
}
.e{
	font-size: x-small;
	color : #dfe2e6;
}
.img{
	margin-left: 610px;
}
.since{
	font-size: small;
	color: gray;
	 margin-left: 530px;	
}
/********************footer끝********************/
/***********************다운받은 login폼**********************************/

a {
    color: #333;
    text-decoration: none;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.inner_login {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -145px 0 0 -160px;
}
.login_tistory{
        position: relative;
        width: 320px;
        margin: 0 auto;
    }
.screen_out {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;

}
body, button, input, select, td, textarea, th {
    font-size: 13px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}    
fieldset, img {
    border: 0;
}
.login_tistory .box_login {
    margin: 35px 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
}
.login_tistory .inp_text {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 18px 19px 19px;
    box-sizing: border-box;
}
.login_tistory .inp_text+.inp_text {
    border-top: 1px solid #ddd;
}
.inp_text input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #000;
    border: none;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
}
.btn_login {
    margin: 20px 0 0;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
}
.login_append {
    overflow: hidden;
    padding: 15px 0 0;
}
.inp_chk {
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
}
.login_append .inp_chk {
    float: left;
}
.inp_chk .inp_radio {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 0;
}
.inp_chk .lab_g {
    display: inline-block;
    margin-right: 19px;
    color: #909090;
    font-size: 13px;
    line-height: 19px;
    vertical-align: top;
}
.inp_chk .ico_check {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px 4px 0 0;
    background-position: -60px 0;
    color: #333;
}
.inp_chk .txt_lab {
    vertical-align: top;
    float: left;
}
.login_append .txt_find {
    float: right;
    color: #777;
}
/*********************************************************/